@model IEnumerable<FileModel>
<ul class="list-group">
    @foreach (var file in Model)
    {

        <li class="list-group-item">
            <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                @if (file.Type == FileType.Folder)
                {
                    <i class="fa fa-folder"></i>
                    <partial name="_RefPartial" model="file" /> <h6>             @file.Path</h6>
                     <div class="pull-right">
                            <a class="fa fa-share" asp-controller="Home" asp-action="MakeShared" asp-route-Path=@ViewBag.CurrentPath asp-route-FileId=@file.Id></a>
                       
                     </div>

                }
                else
                {
                    <i class="fa fa-file"></i>
                    <a asp-controller="Download" asp-action="GetFile" asp-route-name=@file.Name
                       asp-route-path=@file.Path>@file.Name</a>
                    <!--<form asp-controller="Home" asp-action="Download">
                        <input name="Path" value=@ViewBag.CurrentPath hidden />
                        <input name="FileId" value=@file.Id hidden />
                        <button type="button" class="btn btn-primary">
                            <i class="fa fa-share" aria-hidden="true"></i>
                        </button>
                    </form>-->
                }
            </div>
            <div class="pull-right">
    
                <i id="flag" class="fa fa-trash"></i>

                <!-- Модальное окно -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-ban"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="Home" asp-action="PostReport">
                                    <input name="Path" value=@ViewBag.CurrentPath hidden />
                                    <input name="FileId" value=@file.Id hidden />
                                    <input class="form-control" type="text" placeholder="Default input" name="ReportTheme">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" name="ReportBody" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>