@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model IEnumerable<FileModel>

    <div class="panel-body">

        <form data-ajax-url="/Home/GetFiles" data-ajax="true">
            <input value=@ViewBag.CurrentPath name="Path" hidden />
        </form>
      
        <!--
    <div class="row">
        <div class="col-12">
            <h6 class="text-muted">List Group</h6>
            <ul class="list-group">
                <!--

                        <div class="pull-right">
                            <i id="trash" class="fa fa-pencil"></i>
                            <i id="flag" class="fa fa-trash"></i>
                            <i class="fa fa-flag"></i>
                        </div>
                    </li>
                }
            </ul>-->
        <partial name="_FileListPartial.cshtml" model=@Model/>
        <div class="file-wrapper">
            <div class="container">
                <h1>Upload a file</h1>
                <div class="upload-container">
                    <div class="border-container">
                        <div class="icons fa-4x">
                            <i class="fas fa-file-image" data-fa-transform="shrink-3 down-2 left-6 rotate--45"></i>
                            <i class="fas fa-file-alt" data-fa-transform="shrink-2 up-4"></i>
                            <i class="fas fa-file-pdf" data-fa-transform="shrink-3 down-2 right-6 rotate-45"></i>
                        </div>
                        <form asp-action="AddFile" asp-controller="Home" method="post" enctype="multipart/form-data">
                            <input type="file" name="uploadedfile" />
                            <input value=@ViewBag.CurrentPath name="Path" hidden />
                            <input type="submit" value="Загрузить" />

                        </form>
                        <p>
                            Drag and drop files here, or
                            <a href="#" id="file-browser">browse</a> your computer.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- section Scripts{
    <script src="~/js/mainpage/main.js"></script>
}

section StyleSheets{
    <link rel="stylesheet" href="~/css/mainpage/styles.css" />
}-->
