@model IEnumerable<SharedFolder>
<ul class="list-group">
    @foreach (var file in Model)
    {

        <li class="list-group-item">
            <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                    <i class="fa fa-folder"></i>
                   <!-- <partial name="_RefPartial" model="file" />-->
                @file.Folder.Name

                
                
            </div>
            <div class="pull-right">
             
                <!-- Модальное окно -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    <i class="fa fa-plus"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form asp-controller="Home" asp-action="PostReport">
                                    <input name="Path" value=@ViewBag.CurrentPath hidden />
                                    <input name="FileId" value=@file.Id hidden />
                                    <input class="form-control" type="text" placeholder="Default input" name="ReportTheme">
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Example textarea</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" name="ReportBody" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    }
</ul>