@model IEnumerable<SharedFolder>
<ul class="list-group">
    @foreach (var file in Model)
    {

        <li class="list-group-item">
            <div class="checkbox">
                <input type="checkbox" id="checkbox" />
                    <i class="fa fa-folder"></i>
                   <!-- <partial name="_RefPartial" model="file" />-->
                @file.Folder.Name

                
                
            </div>
            <div class="pull-right">        
            <a class="fa fa-plus"  asp-controller="Request" asp-action="Send" asp-route-foldername=@file.Folder.Name asp-route-id=@file.Folder.Id></a>
          
           
            </div>
        </li>
    }
</ul>