@model IEnumerable<AllowedFolder>

    <ul class="list-group">
        @foreach (var folder in Model)
        {

            <li class="list-group-item">
                <div class="checkbox">
                    <input type="checkbox" id="checkbox" />
                    <i class="fa fa-folder"></i>
                    <!-- <partial name="_RefPartial" model="file" />-->
                    <a href=@String.Concat("Common/?user=",folder.From)></a><h6>(@folder.From)</h6>



                </div>
                <div class="pull-right">

                    <!-- Модальное окно -->
                    <!-- Button trigger modal -->
                    <form asp-controller="Request" asp-action="Accept">
                        <input value=@folder.Id name="id" hidden />
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Accept
                        </button>
                    </form>
                    <form asp-controller="Request" asp-action="Deny">
                        <input value=@folder.Id name="id" hidden />
                        <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                         Deny
                        </button>
                    </form>

                    <!-- Modal -->

                </div>
            </li>
        }
    </ul>