@model IEnumerable<SharedFolder>
@{
    ViewData["Title"] = "Shared";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Create Shared
</button>
<partial name="_FileListPartial" model=Model />
<!-- Modal -->
